**/Config/application.config
**/Logs/
**/node_modules/
*.bin
*.crc
*.dat
*.ide
*.js.map
*.log
*.orig
*.psess
*.slm
*.suo
*.test.html
*.user
*.version
*.vsp
.idea/*
.vs
/Binaries/BuildDeploy/Assets/src/__tests__/example_test.js
/Build
/BuildLogs
**/Administration/Administration.Web/Content
/Dev/**/bin
/Dev/**/Bin
/Dev/Customizations/Config/CurrentProjectToDebug
/DirectCrm.Core.Tests/bin
/nuget.exe
/package-lock.json
/packages
/PrecompiledSites
/Product/**/bin
/Product/**/Bin
/Product/Administration/Administration.Web/Content/css/pages/*.css
/Product/Administration/Administration.Web/Content/css/styles.css
/Product/Administration/Administration.Web/Content/localization/*.js
/Product/Commons/Commons.Tests/Scripts/*/*.js
/Product/DirectCrm/DirectCrm.Tests/nuget.exe
/Product/Markup/ignore
/Product/test.txt
_ReSharper.*
1.playlist
DeployLog.txt
DeployLog.txt
DirectCrmTrunk.sln.vsext
DirectCrmTrunk.sln.vsext.disable
IntegrationTestsSources
obj
OpenCover/
PrecompiledSites
StyleCop.Cache
TestResults
Dev.runsettings

# localization
/Product/Administration/Administration.Web/Content/localization/**/*.json

# Docker test database
/Docker/database/*.bak
/Docker/database/*.snk

# Puppeteer logs
!/Docker/Standard/logs/

__pycache__/
*.py[cod]

**/nLog.config.template
!/Product/Administration/Config/nLog.config.template

# Unpacked frontend:
/Dev/Customizations/Customizations.Frontend/**/*
/Dev/Customizations/Customizations.LegacyFrontend/**/*
/Dev/Danone/Danone.Frontend/**/*
/Dev/Jti/Jti.LegacyFrontend/**/*
/Product/Administration/Administration.LegacyFrontend/**/*
/Product/DirectCrm/DirectCrm.LegacyFrontend/**/*
/Product/Nexus/Nexus.Frontend/**/*
/Product/Test/Test.Frontend/**/*
/Product/Tracker/Javascript.SDK/**/*
.idea/
/Product/Administration/LongRunningTasks.Host/Properties/launchSettings.json
/Product/Administration/AdministrationSite/Properties/launchSettings.json
/Api/Web/Scripts/bundle.js
/Product/Messaging/Messaging.Frontend/dist/bundle.js
/Product/Pmon/Pmon.Frontend/dist/bundle.js
